
.container_content{
    padding: 30px;
}
.container__main{
    padding-bottom: 50px;
    position: relative;
}
/* Navbar */
.header{
    display: grid;
    justify-content: center;
    background: var(--color-bg-gray);
    grid-template-columns: minmax(300px, 1550px);
}
.container__main{
    display: grid;
    grid-template-columns: minmax(300px, 1550px);
    justify-content: center;
}
.header .nav{
    display: grid;
    grid-template-columns: 60px 1fr 40px;
    padding: 10px 5px;
    grid-template-rows: 60px;
    align-items: center;
    column-gap: 10px;
}
.nav .con__ico .logo__small{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.nav .con__ico .logo__full{
    display: none;
    user-select: none;
    pointer-events: none;
}
.nav .con__link__bot{
    display: none;
}
.nav__car{
    color: white;
    font-size: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav__car i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con__search form{
    display: grid;
    grid-template-columns: 1fr 35px;
    height: 40px;
    row-gap: 0px;
}
.con__search form .search{
    outline: none;
    border: none;
    padding-left: 10px;
    font-family: 'Alata';
    border-style: none;
    border-radius: 5px 0px 0px 0px;
    background: var(--color-bg-light) !important;
}
.con__search form .btn__search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
    border: none;
    border-style: none;
    border-radius: 0px 5px 0px 0px;
    background: var(--color-bg-light) !important;
}
.con__search form .btn__search i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con__btn__login{
    display: none;
}
/* Buscador */
#ui-id-1{
    background-color: var(--color-bg-light);
    border: 0px;
    max-width: 465px;
    border-radius: 0px 0px 5px 5px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    color: var(--iron-950);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 0px solid #000;
    background: var(--color-primary-op);
    font-weight: normal;
    color: #fff;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 10px;
}
/* Buscador */
/* Navbar */
/* footer */
.footer{
    display: grid;
    grid-template-columns: minmax(300px, 1550px);
    background: #e6e5e52e;
    justify-content: center;
}
.footer .container__footer{
    display: grid;
    grid-template-columns: minmax(300px, 1550px);
    justify-content: center;
    row-gap: 30px;
    padding: 30px 30px;
}
.footer .container__footer .con__logo_footer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footer .container__footer .con__logo_footer .logo__full{
    max-width: 200px;
    user-select: none;
    pointer-events: none;
}
.footer .container__footer .sect__footer{
    display: grid;
    row-gap: 10px;
    max-width: 400px;
}
.footer .container__footer .sect__footer h3{
    font-family: 'Alata';
    /* color: white; */
    font-size: 18px;
    margin: 0px;
    height: fit-content;
    margin-bottom: 10px;
}
.footer .container__footer .sect__footer p, .footer .container__footer .sect__footer a{
    font-family: 'Nunito';
    margin: 0px;
    margin-left: 15px;
    text-align: justify;
    height: fit-content;
    text-decoration: none;
    color: var(--iron-950);
}
#sect__contact .src__cont{
    display: grid;
    margin-bottom: 10px;
    color: var(--iron-950);
}
#sect__contact .src__cont:hover, .footer__list a:hover{
    text-decoration: underline !important;
}
#sect__contact p{
    font-weight: bold;
    font-weight: 600;
}
.sect__footer__map iframe{
    padding-left: 15px;
    width: 100%;
    height: 160px;
    border-radius: 8px;
}
.footer .container__footer .con__red__footer{
    display: grid;
    grid-template-columns: 120px repeat(3, 25px);
    /* color: white; */
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.footer .container__footer .con__red__footer h4{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
}
.footer .container__footer .con__red__footer a{
    font-size: 25px;
    color: var(--iron-950);
    text-decoration: none;
    transition: all 0.6s;
}
.footer .container__footer .con__red__footer a i{
    color: var(--iron-950);
    display: flex;
    align-items: center;
    transition: all 0.6s;
}
.footer .container__footer .con__red__footer a:hover{
    transform: scale(1.2);
}
.footer .container__footer .footer__list{
    display: grid;
    grid-auto-rows: 23px;
}
/* footer */
/* Carousel */
.carousel{
    position: relative;
}
.gradient__carousel{
    position: absolute;
    display: block;
    width: 100%;
    height: 15%;
    bottom: 0px;
    background: linear-gradient(180deg,transparent, var(--color-bg-light));
}
/* Carousel */
/* Bar Categories */
.con__categories{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative;
    scroll-behavior: smooth;
}
.btn__slides{
    position: absolute;
    z-index: 11111111;
    background: white;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 50px -31px rgba(0,0,0,0.2);
    top: 147.5px;
}
.btn__slides__hide{
    display: none;
}
.previusly{
    left: 15px;
}
.next{
    right: 15px;
}
.btn__slides i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009ef7;
    font-size: 1.5rem;
}
.con__categories .category_btn{
    min-width: 100%;
    width: 100%;
    height: 350px;
    display: grid;
    justify-items: center;
    text-decoration: none;
    transition: all 0.6s;
    background: var(--iron-400);
    border-radius: 8px;
    position: relative;
    align-items: flex-end;
    padding-bottom: 30px;
}
.con__categories .category_btn:hover{
    transform: scale(1.08);
}
.con__categories .category_btn h3{
    font-family: 'Poppins';
    text-align: center;
    margin: 0px;
    font-size: 25px;
    color: white;
    display: flex;
    font-weight: bold;
    z-index: 3;
    transition: all 0.6s;
}
.con__categories .category_btn:hover h3{
    font-size: 26px;
}
.category_btn i{
    display: flex;
    align-items: center;
    color: var(--iron-900);
    font-size: 28px;
}
.category_btn figure{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
    top: 0px;
    margin: 0px;
    padding: 0px;
}
.con__categories .category_btn figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
/* Bar Categories */

/* Product */
.con__section_prods{
    display: grid;
    row-gap: 25px;
    padding: 25px 25px 35px 25px;
}
.con__section_prods__bg{
    background: rgba(255, 255, 255, 0.774);
    border-radius: 12px;
}
.header__section__prods{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header__section__prods a{
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-size: 16px;
}
.header__section__prods h2{
    font-family: 'Alata';
    font-weight: bold;
    margin: 0px;
    color: var(--iron-950);
}
.con__box__prod__ca{
    display: grid;
    grid-template-columns: minmax(300px, 1300px);
    justify-content: center;
}
.con__products{
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    column-gap: 25px;
    row-gap: 35px;
    justify-content: center;
    border-radius: 8px;
}
.product{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 210px 80px;
    min-width: 220px;
    border-radius: 8px;
    padding: 20px 20px 30px 20px;
    text-decoration: none;
    row-gap: 20px;
    transition: all 0.3s;
    height: fit-content;
    background: rgba(255, 255, 255, 0.774);
}
.product__band{
    min-width: 100% !important;
    width: 100%;
    max-width: 100%;
}
.con__products__band{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    position: relative;
    gap: 0px;
}
.con__products__band .product{
    background: none;
}
.btn__actions__band{
    top: calc(180px - 17.2px);
    width: 35px;
    height: 35px;
    background-color: var(--iron-500);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.btn__actions__band i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--iron-950);
}
.span__left{
    left: 0px;
}
.span__right{
    right: 0px;
}
.product:hover{
    transform: scale(1.06);
}
.slider__divs{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    align-items: center;
    position: relative;
}
.product .con__img_prod{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.product .con__img_prod img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: top; */
    border-radius: 8px;
    user-select: none;
    pointer-events: none;
}
.product .info__prod{
    display: grid;
    row-gap: 10px;
    width: 100%;
}
.con__name_prod{
    min-height: 36px;
}
.product .info__prod .con__name_prod h3{
    margin: 0px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    color: var(--iron-900);
    width: 100%;
}
.product .info__prod .con_bottom_prod{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 40px;
    align-content: center;
}
.con_bottom_prod span{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: bold;
    color: var(--color-primary);
}
.form__cart{
    width: 100%;
    height: 100%;
}
.btn__add__car{
    border-style: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background: var(--iron-900);
    color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.btn__add__car i{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Product */

/* Breadcump */
.bread-cump{
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.bread-cump a{
    color: #595959;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    margin-top: 1px;
}
.bread-cump a:hover{
    color: #009ef7;
}
.header-table h2{
    font-family: 'Poppins';
    font-weight: 650;
    text-align: center;
    margin-top: 20px;
}
.header__table__left h2{
    width: fit-content;
}
/* Breadcump */
.con__section_prods__recomen{
    padding: 40px;
    border: 2px solid var(--border-color-low);
}
.header__section_recomen h2{
    font-size: 20px;
    color: var(--iron-900);
    font-weight: normal;
}
.con__if iframe{
    width: 100%;
    height: 100%;
}
#card__store .card-title{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
}
.container__cards{
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    padding-top: 30px;
}
.container__cards .card{
    border-radius: 9px;
    border: 0px;
    background: #e0e0e0;
    box-shadow:  16px 16px 32px #cacaca,
                 -16px -16px 32px #f6f6f6;
    text-decoration: none;
}
#card__store .card-text{
    margin: 0px;
    font-family: 'Nunito Sans';
}
.d-block{
    border-radius: 0px 0px 12px 12px !important;
}
.band__footer{
    background: var(--color-bg-gray);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
.band__footer img{
    width: 100%;
}
.container__benefits{
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    background: var(--iron-200);
    justify-content: center;
    column-gap: 60px;
    padding: 60px 0px;
}
.container__benefits span{
    display: grid;
    justify-items: center;
}
.container__benefits span p{
    color: var(--iron-950);
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 19px;
    margin: 0px;
    text-align: center;
}
.container__benefits span figure img{
    height: 60px;
    user-select: none;
    pointer-events: none;
}
.toast-header img{
    width: 20px !important;
    height: 20px !important;
}
@media (min-width: 720px){
/* Navbar */
    .header .nav{
        width: 100%;
        grid-template-columns: 160px minmax(100px, 500px) 30px 130px;
        grid-template-rows: 40px 30px;
        padding: 10px 20px;
        column-gap: 40px;
        row-gap: 12px;
    }
    .header .nav .logo__small{
        display: none;
    }
    .header .nav .logo__full{
        display: grid;
        width: 100%;
        height: 100%;
        grid-row: 2/3;
    }
    .con__ico{
        /* grid-row: 1/3; */
        height: 100%;
    }
    /* .con__search{
        grid-row: 2/3;
    } */
    .nav__car{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-content: flex-start;
    }
    .nav .con__link__bot a{
        text-decoration: none;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.837);
        width: fit-content;
    }
    .con__link__bot a:hover{
        color: white;
    }
    .nav .con__link__bot{
        display: flex;
        align-items: center;
        grid-row: 2/3;
        grid-column: 1/5;
        column-gap: 15px;
        padding-left: 30px;
    }
    .nav .con__link__bot .space{
        width: 100%;
        height: 100%;
        max-width: 50px;
        display: block;
    }
    .con__btn__login{
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        min-width: 110px;
    }
    .con__btn__login a{
        height: 100%;
        width: 100%;
        min-width: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background: var(--iron-300);
        color: var(--iron-950) !important;
        font-family: 'Nunito Sans';
        font-weight: 700;
        border-radius: 8px;
    }
    .con__user_nav{
        display: grid;
        grid-template-columns: 35px 1fr;
        grid-template-rows: 35px;
        align-content: center;
        column-gap: 10px;
        cursor: pointer;
        position: relative;
    }
    .con__user_nav figure{
        height: 100%;
    }
    .con__user_nav figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: all;
        user-select: none;
    }
    .con__user_nav figure img:hover{
        opacity: 0.8;
    }
    .con__user_nav .name__user__nav{
        margin: 0px;
        display: flex;
        align-items: center;
        color: white;
        column-gap: 10px;
    }
    .con__user_nav .name__user__nav i{
        display: flex;
        align-items: center;
    }
    .user__nav{
        position: absolute;
        right: 0px;
        top: 42.5px;
        width: 270px;
        max-width: 330px;
        background-color: var(--iron-100);
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 10px 50px -31px rgba(0,0,0,0.2);
        display: grid;
        z-index: 10;
        grid-template-columns: 100%;
        row-gap: 13px;
        padding: 0px 30px 0px 30px;
        height: 0px;
        overflow: hidden;
    }
    .user__nav__show{
        animation: show_drop_user 0.5s forwards;
    }
    .user__nav__hide{
        animation: hide_drop_user 0.5s forwards;
    }
    @keyframes show_drop_user {
        0%{
            padding: 0px 30px 0px 30px;
            height: 0px;
        }
        50%{
            padding: 7.5px 30px 15px 30px;
            height: 156.5px;
        }
        100%{
            padding: 15px 30px 30px 30px;
            height: 313px;
        }
    }
    @keyframes hide_drop_user {
        0% {
            padding: 15px 30px 30px 30px;
            height: 313px;
        }
        50% {
            padding: 7.5px 30px 15px 30px;
            height: 156.5px;
        }
        100% {
            padding: 0px 30px 0px 30px;
            height: 0px;
        }
    }
    .user__nav a{
        color: var(--iron-950) !important;
    }
    .btn__profile__nav{
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 30px 20px;
        width: 100% !important;
        align-content: center;
        column-gap: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-gray-op);
    }
    .btn__profile__nav p{
        margin: 0px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 17px;
    }
    .btn__profile__nav small{
        grid-column: 2/3;
        grid-row: 2/3;
        font-family: 'Alata';
        font-size: 14px;
    }
    .btn__profile__nav figure{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .src__user__nav{
        display: grid;
        /* row-gap: 5px; */
        align-content: center;
        grid-auto-rows: 40px;
        width: 100%;
        grid-template-columns: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-gray-op);
    }
    .src__user__nav a{
        font-family: 'Nunito Sans';
        font-size: 15px !important;
        height: 100% !important;
        border-radius: 10px;
        padding-left: 20px;
        display: grid;
        align-items: center;
        width: 100% !important;
        transition: all 0.2s;
    }
    #form__log__out button{
        font-family: 'Nunito Sans';
        font-size: 15px;
        padding: 0px;
        height: 40px;
        border: none;
        border-style: none;
        padding-left: 20px;
        width: 100%;
        text-align: left;
        border-radius: 10px;
        transition: all 0.2s;
        background: 0px;
    }
    .src__user__nav a:hover, #form__log__out button:hover{
        background: var(--iron-200);
    }
/* Navbar */
    .con__products{
        justify-content: flex-start !important;
    }
    .con__categories .category_btn{
        min-width: 300px;
        width: 350px;
    }
    .product__band{
        min-width: 290px !important;
        max-width: 290px !important;
    }

    .grid__section__prods{
        padding: 0px;
    }

}
/* btn whatsapp */
.btn__flot__wh{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #409542;
    display: grid;
    justify-items: center;
    color: white;
    text-decoration: none;
    row-gap: 10px;
    width: 100px;
    padding: 15px 0px;
    border-radius: 12px;
    transition: all 0.6s;
    z-index: 11;
}
.btn__flot__wh:hover{
    transform: scale(1.1);
}
.btn__flot__wh h3{
    font-family: 'Alata';
    font-size: 17px;
    margin: 0px;
    text-align: center;
}
.btn__flot__wh i{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* btn whatsapp */
.con__section_prods__min{
    display: grid;
    grid-template-columns: minmax(300px, 1550px);
    justify-content: center;
    padding: 50px 0px;
}
.grid__section__prods{
    padding: 30px;
    display: grid;
    gap: 30px;
}
@media (min-width: 1200px){
    .grid__section__prods{
        grid-template-columns: 1fr 350px;
    }
    .container_content{
        padding: 50px 0px 0px 0px;
    }
    .user__nav{
        right: auto;
        left: -30px;
    }
    /* footer */
    .footer .container__footer{
        display: grid;
        grid-template-columns: 320px repeat(2, 180px) 300px;
        column-gap: 60px;
        padding: 50px 0px 70px 0px;
        row-gap: 50px;
    }
    .con__red__footer{
        grid-column: 2/5;
        display: flex !important;
        justify-content: flex-end !important;
    }
    .footer .container__footer .con__logo_footer{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0px;
    }
    /* footer */
}
